[Unit]
Description=Boundary worker

[Service]
ExecStart=/usr/bin/boundary server -config /etc/boundary.d/worker.hcl
User=boundary
Group=boundary
LimitMEMLOCK=infinity
Capabilities=CAP_IPC_LOCK+ep
CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK

[Install]
WantedBy=multi-user.target